.main-header {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  text-align: left;
  background-color: #6f5499;
}

.main-header h1 {
  margin-top: 0;
  color: #fff;
}

.main-header h4 {
  margin-top: 0;
  color:#b5a6cc;
}

.words-pannel {
  margin-top: 15px;
}

.panel-heading h3 {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 20px;
  color: #3a3931
}

.avatar {
  height: 48px;
  width: 48px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 10px;
  float: left;
  margin-right: 18px;
  cursor: default;
}
